progress-bar {

    .progress-outer {
        max-width: 600px;
        width:calc(100vw - 80px);
        margin: 30px auto 0px auto;
        padding: 3px;
        text-align: center;
        /*background-color: #f4f4f4;*/
        background: rgba(0,0,0,.25);
        border: 1px solid #ffffff;
        color: #ffffff;
        border-radius: 20px;
    }
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, secondary);
    }
}
