
<ion-header>
  <ion-navbar>
      <img alt="logo" class="logotipo1" src="../../assets/img/sup_logo-tottus.png">
    <span class="titleBlock">&nbsp; Actualizar</span>
  </ion-navbar>
</ion-header>

<ion-content class="cajaDescarga">
  <div class="wrapper">
    <button class="buttony" ion-button (click)="transferFiles_FROM_CMS()">Descargar y Guardar Archivos (rapido)</button>  
    <button class="buttony" ion-button (click)="delete_Files_FROM_CMS()">Borrar, Descargar y Guardar Archivos (lento)</button> 
  </div>
  <p class="wrapper">Fecha de Ultima Descarga: {{appData.lastDownloadTime}}</p>
  <div *ngIf="showCount">
    <span>  Descargando {{currentCount}} de {{totalCount}}  </span>
    <progress-bar [progress]="loadProgress"></progress-bar>
    <span>
      <div *ngIf="loadProgress == 100">Descarga Completa</div>
    </span>
  </div>
</ion-content>
