page-download {
    .cajaDescarga .scroll-content{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        padding: 16px 10px;
        background:linear-gradient(184deg,#798a8a 42%,#405C5A 95%);
    }
    .cajaDescarga{
        width: 100%;
        color:#ffffff;
    }
    span{
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
        padding: 20px 0;
        text-align: center;
        display: block;
        margin: auto;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        clear: both;
    }
    .wrapper button{
        min-height: 40px;
        flex: none;
        margin-bottom: 30px auto;
        background: #76B601;
        border: 2px solid #ffffff;
        border-radius: 16.5px;
        box-shadow: 0 3px 25px -3px rgba(0,0,0,.25);
        color: #ffffff;
        font-weight: 600;
    }

    .buttony{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}
