<table class=tablaPdp id=tablaPdp>
  <tr>
    <td>DESCRIPCIÓN</td>
    <td>SMART TV 32 ¿</td>
  </tr>
  <tr>
    <td>MARCA</td>
    <td>SAMSUNG</td>
  </tr>
  <tr>
    <td>MODELO</td>
    <td>UN32J4290AGXZS</td>
  </tr>
  <tr>
    <td>TAMAÑO DE LA PANTALLA</td>
    <td>32"</td>
  </tr>
  <tr>
    <td>RESOLUCIÓN</td>
    <td>HD</td>
  </tr>
  <tr>
    <td>TECNOLOGÍA</td>
    <td>LCD/SMART TV</td>
  </tr>
  <tr>
    <td>ENTRADAS HDMI</td>
    <td>2</td>
  </tr>
  <tr>
    <td>ENTRADAS USB </td>
    <td>1</td>
  </tr>
  <tr>
    <td>CONTROL REMOTO INCLUIDO </td>
    <td>SI</td>
  </tr>
  <tr>
    <td>ANCHO </td>
    <td>73,74 CMS</td>
  </tr>
  <tr>
    <td>ALTO CON/SIN BASE</td>
    <td>46,54/43,8 CMS</td>
  </tr>
  <tr>
    <td>PROFUNDIDAD CON/SIN BASE</td>
    <td>15,05/7,41 CMS</td>
  </tr>
  <tr>
    <td>PESO</td>
    <td>4,1 KG</td>
  </tr>
  <tr>
    <td>GARANTÍA</td>
    <td>12 MESES CON EL PROVEEDOR </td>
  </tr>
