<ion-tabs   *ngIf="!showTabs" color="primary" selectedIndex="7">
  <ion-tab [root]="tab1Root" tabTitle="Todos" tabIcon="refresh-circle" color="secondary"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Audio" tabIcon="custom-audio" color="secondary"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Celulares" tabIcon="custom-phone"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Electro Hogar" tabIcon="custom-electroHogar"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Televisores y Video Juegos" tabIcon="custom-tv"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Más" tabIcon="custom-boxes"></ion-tab>
  <ion-tab [root]="tab7Root" tabTitle="Ofertas" tabIcon="custom-pricetags"></ion-tab>
  <ion-tab [root]="tab8Root" tabTitle="Actualizar" tabIcon="download" ></ion-tab>
  <ion-tab *ngIf = "showBug" [root]="tab8Root" tabTitle="DataPuro" tabIcon="bug"></ion-tab>
</ion-tabs>

<!-- selectedIndex="7" -->
<!-- <ion-tabs #myTabs  color="primary" >
    <ion-tab *ngFor="let tab of tabs" (ionSelect)="pagePrep(tab.title, tab)" [root]="tab.root" [tabTitle]="tab.title"
      [tabIcon]="tab.icon" [rootParams] = "tab" color="secondary"></ion-tab>
    <ion-tab *ngIf="showBug" [root]="tab8Root" tabTitle="DataPuro" tabIcon="bug"></ion-tab>
</ion-tabs> -->
