<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-slides class="banner" pager="true" paginationType="bullets">
    <ion-slide class="imagenApoyo" style="left: 0; background:none;">
      <div class="bannerBloque1">
        <img src="{{productData.picDownloadArray[0]}}" (click)="openPhoto(productData.picDownloadArray[0])">
      </div>
      <div class="bannerBloque2">
        <p class="parrafo1">{{productData.Name}}</p>
        <p class="parrafo2">{{productData.Brand}}<span *ngIf="showTable"><b>{{productData.tableData.MODELO}}</b></span></p>
        <p class="parrafo3">SKU: {{productData.sku}}</p>
        <p *ngIf="productData.EAN" class="parrafo3">EAN: {{productData.EAN}}</p>
        <p class="parrafo4" *ngIf="productData.CMRprice"><small>$</small>{{productData.CMRprice}}<img
            src="../assets/img/CMR-icon-white.svg"></p>
        <p class="parrafo5"><small>$</small>{{productData.activePrice}}<i>otro medio<br>de pago</i></p>
        <del *ngIf="productData.strikeOutPrice"><p class="parrafo5"><small>$</small>{{productData.strikeOutPrice}}&nbsp;</p></del>
      </div>
    </ion-slide>
    <ion-slide class="imagenApoyo" *ngFor="let item of productData.picDownloadArray">
      <img src="{{item}}" (click)="openPhoto(item)"/>
    </ion-slide>
  </ion-slides>
  <button class="botonVolver" (click)="dismiss()">
    <div class="arrow1"></div>
    <p>VOLVER</p>
  </button>
  <div class="cuerpoFicha" *ngIf="showTable">
    <div class="itemFicha" *ngFor="let item of productData.tableDataArray">
      <div class="bloque1ItemFicha">{{objectKeys(item)}}</div>
      <div class="bloque2ItemFicha">{{item[objectKeys(item)]}}</div>
    </div>
  </div>
  <div class="cuerpoFicha" *ngIf="!showTable">
    <div class="itemFicha">No hay información adicional para este producto</div>
  </div>

</ion-content>
