page-tvvj {
  .scroll-content{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      padding: 16px 10px;
      background:linear-gradient(184deg,#798a8a 42%,#405C5A 95%);
  }
  .alertActualizar{
      max-width:700px;
      width:calc(100% - 40px);
      height:45%;
      margin:0 auto 0 auto;
      padding: 6px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 3px solid #76b600;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-content: center;
  }
  .alertActualizar .cajaAlertas{
      width: 100%;
      height: 100%;
      background: #76b600;
      border-radius: 9px;
      box-shadow: 0 6px 35px -3px rgba(0,0,0,.35);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .alertActualizar .cajaAlertas strong{
      font-size: 45px;
      font-weight: 600;
      color: #fff;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 3px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 35px 2px rgba(256,256,256,.5);
  }
  .alertActualizar .cajaAlertas h1{
      font-size:30px;
      font-weight: 400;
      line-height: 110%;
      color: #fff;
      text-align: center;
      margin:0;
      padding: 30px;
  }
  .cajaBoton1{
      width:calc(25% - 8px);
      height:420px;
      margin:4px;
      position: relative;
      border-radius:5px;
      overflow:hidden;
      background:#fff;
      border:1px solid #eee;
      box-shadow:0 3px 6px 0px rgba(0,0,0,.25);
  }
  .imagenCajaBoton{
      width: 100%;
      padding:5px 0 0;
      text-align: center;
  }
  .imagenCajaBoton img{
      width:90%;
  }
  .cajaTextosCajaBoton{
      width: 100%;
      height: 140px;
      padding: 10px 0;
      position: absolute;
      left: 0;
      bottom: -1px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      background: rgba(256,256,256,1);
      box-shadow:0px -3px 25px 0px rgba(0,0,0,.12);
      border-radius: 0 0 5px 5px;
  }
  .text1CajaBoton,.text2CajaBoton,.text3CajaBoton,.text4CajaBoton,.text5CajaBoton{
      margin:0;
      padding:0 15px;
  }
  .text1CajaBoton{
      font-size:15px;
      font-weight: 600;
      color: #666666;
  }
  .text2CajaBoton{
      font-size:17px;
      font-weight: 600;
      line-height: 100%;
      height: auto;
      overflow:hidden;
      color:#76b600;
  }
  .text3CajaBoton{
      font-size: 22px;
      font-weight: 800;
      line-height:100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color:#4e7500;
  }
  .text3CajaBoton img{height:15px; margin-left:5px;}
  .text4CajaBoton{
      font-size: 18px;
      font-weight: 800;
      line-height:100%;
      letter-spacing: -0.8px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      columns: #666666;;
      opacity: .7;
  }
  .text4CajaBoton b{
      font-size:10px;
      line-height:80%;
      letter-spacing: 0px;
      margin-left: 5px;
  }
  .text5CajaBoton{
      font-size: 13px;
      font-weight: 600;
      color: #888888;
  }
  @media (max-width:1030px){
      .cajaBoton1{
          height:380px;
      }
  }
  @media (max-width:800px){
      .cajaBoton1{
          width:calc(33.3333% - 8px);
          height:340px;
      }
  }
  @media (max-width:500px){
      .logotipo1{
          height:28px;
          margin:0 0 0 10px;
      }
      .titleBlock{
        font-size:22px;
        font-weight: 400;
        color: #666666;
        text-align: left;
        line-height: 90%;
        margin-left: 10px;
      }
      .cajaBoton1{
          width:calc(50% - 8px);
          height:300px;
      }
  }
}