<!--
  Generated template for the DataTroubleshootingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <img alt="logo" class="logo1" src="../../assets/img/sup_logo-tottus.png">
      <span class="titleBlock">&nbsp; Data Troubleshooting</span>
    </ion-navbar>
    <!-- <ion-toolbar>toggle:{{toggle}} <br><br> download path:<br>{{downloadPath}} <br><br> Show path:<br>{{showPath}}</ion-toolbar> -->
  </ion-header>
  
  <ion-content padding>
    <div class = "big" *ngFor="let key of keys">
      <p>{{appDataShow[key].Name}} SKU = {{appDataShow[key].sku}}</p>
      <p *ngIf="appDataShow[key].EAN" class="text5CajaBoton">EAN {{appDataShow[key].EAN}}</p>
      <span *ngFor="let foto of appDataShow[key].picDownloadArray">
        <img class="keepItSmall" src="{{foto}}" />
      </span>
      <table>
        <tr *ngFor="let descriptor of objectKeys(appDataShow[key].tableData)">
          <th>{{descriptor}} </th>
          <th>{{appDataShow[key].tableData[descriptor]}}</th>
        </tr>
      </table>
    </div>
  </ion-content>
