page-data-troubleshooting {
    .scroll-content{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 16px 10px;
        background:linear-gradient(184deg,#798a8a 42%,#405C5A 95%);
    }
    .keepItSmall{
        height: 150px;
    }
    p{
        background-color:green;
        color: white;
    }
    .big{
      width: 100%;
    }
    th, td {
        border: 1px solid black !important;
        border-collapse: collapse !important;
        text-align: left !important;
      }
      table tr:nth-child(even) {
        background-color: #eee !important;
      }
      table tr:nth-child(odd) {
        background-color: #fff !important;
      }
    table{
      width:50%
    }
}