page-blocker {
    .toolbar-background-md{
        background: #405C5A;
        border: none;
        
    }
    .toolbar-title-md{
        color: #ffffff;
        text-align: center;
    }
    .scroll-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 16px 10px;
        background:linear-gradient(184deg,#76b600 42%,#527b07 95%);
    }
    .cajaAlerta{
        max-width: 400px;
        width: calc(100% - 60px);
        margin: auto;
        padding: 30px 20px;
        background: rgba(82,123,7,.6);
        border:2px solid #ffffff;
        border-radius: 25px;
    }
    .cajaAlerta button{
        min-height: 60px;
        width: 100%;
        flex: none;
        margin:10px auto 20px auto;
        padding:5px 3px;
        background: #76B601;
        border: 2px solid #ffffff;
        border-radius: 16.5px;
        box-shadow: 0 3px 25px -3px rgba(0,0,0,.25);
        color: #ffffff;
        font-weight: 600;
    }
    .scroll-content p{
        width: calc(100% - 60px);
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
        text-shadow: 1px 2px 3px rgba(0,0,0,.25);
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        clear: both;

    }
    .scroll-content p strong{
        font-size: 24px;
        font-weight: 500;
        line-height: 110%;
        text-align: center;
        margin:20px 0 30px 0;
    }
    .scroll-content p b{
        font-size: 16px;
        font-weight: 400;
        width: 120px;
    }
}
