<!--
  Generated template for the BlockerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Actualizar, por favor...</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="cajaAlerta">
      <!--div -->
        <button ion-button (click)="launch_URL()">Llévame a la pagina <br>para actualizar</button>
      <!--/div-->
    <p><strong>Esta versión de la aplicación está desactualizada. Para continuar usándola, actualice su versión.</strong></p>
    <p><b>Tú Versión:</b> {{appVersion}}</p>
    <p><b>Mínima Versión:</b> {{minVersion}}</p>
    <p><b>Última Versión:</b> {{ultVersion}}</p>
  </div>
</ion-content>
