// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @import "../theme/icons";

.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon{
    color:#76B601;
    font-weight:500;
}
.tab-button .icon{
    width:22px;
}
.tab-button .tab-button-text{
    font-size:10px;
}

ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="custom-electroHogar"] {
        mask-image: url(../assets/img/baseline-kitchen-24px.svg);
        color:blue;
    }
    &[class*="custom-audio"] {
        mask-image: url(../assets/img/baseline-speaker-24px.svg);
    }
    &[class*="custom-phone"] {
        mask-image: url(../assets/img/baseline-smartphone-24px.svg);
    }
    &[class*="custom-pricetags"] {
        mask-image: url(../assets/img/baseline-pricetags-24px.svg);
    }
    &[class*="custom-boxes"] {
        mask-image: url(../assets/img/baseline-boxes.svg);
    }
    &[class*="custom-tv"] {
        mask-image: url(../assets/img/baseline-tv-24px.svg);
    }
    &[class*="custom-actualizar"] {
        mask-image: url(../assets/img/baseline-cloud-24px.svg);
    }
}


.ion-md-custom-Audio{
	color: color($colors, secondary)!important;
}
.ion-md-custom-electroHogar{
	color: color($colors, secondary)!important;
}
.ion-md-custom-audio{
	color: color($colors, secondary)!important;
}
.ion-md-custom-phone{
	color: color($colors, secondary)!important;
}
.ion-md-custom-pricetags{
	color: color($colors, secondary)!important;
}
.ion-md-custom-boxes{
	color: color($colors, secondary)!important;
}
.ion-md-custom-tv{
	color: color($colors, secondary)!important;
}
.ion-md-download{
	color: color($colors, secondary)!important;
}
.ion-md-refresh-circle{
	color: color($colors, secondary)!important;
}


.ion-ios-custom-Audio{
	color: color($colors, secondary)!important;
}
.ion-ios-custom-electroHogar{
	color: color($colors, secondary)!important;
}
.ion-ios-custom-audio{
	color: color($colors, secondary)!important;
}
.ion-ios-custom-phone{
	color: color($colors, secondary)!important;
}
.ion-ios-custom-pricetags{
	color: color($colors, secondary)!important;
}
.ion-ios-custom-boxes{
	color: color($colors, secondary)!important;
}
.ion-ios-custom-tv{
	color: color($colors, secondary)!important;
}
.ion-ios-download{
	color: color($colors, secondary)!important;
}
.ion-ios-refresh-circle{
	color: color($colors, secondary)!important;
}
.toolbar-content,.toolbar-content-ios{
    width:100%;
    height: 50px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border:none;
}
ion-app.ios [padding] .scroll-content{
    margin-top: 40px;
    padding:16px 10px;
}
.logotipo1{
    height:36px;
    margin:0 10px;
}
.titleBlock{
    font-size:26px;
    font-weight: 400;
    color: #666666;
    text-align: left;
    line-height: 100%;
}

.ion-header {
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.25);
    z-index: 40;
}
.tabs-ios-primary .tabbar{
    border:none;
}
.tabbar{
    height: 70px;
    border-color:none;
    box-shadow:0 -6px 10px 1px rgba(0,0,0,.25);
}
@media (max-width:500px){
    ion-app.ios [padding] .scroll-content{
        margin-top: 40px;
        padding:16px 4px;
    }
    .toolbar-content,.toolbar-content-ios{
        height:40px;
    }
    .titleBlock{
        font-size:22px;
        font-weight: 400;
        color: #666666;
        text-align: left;
        line-height: 90%;
        margin-left: 10px;
    }
}

.my-modal{
    height: 100%!important;
    width: 100%!important;
    .modal-wrapper{
        width:100% !important;
        height:100%;
        position:absolute;
        top:0px !important;
        left:0 !important;
        display:block;
      
    }
    .banner{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background:linear-gradient(184deg,#798a8a 42%,#405C5A 95%);
    }
    .banner::after{
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index:80;
        box-shadow: 0 -6px 35px 3px rgba(0,0,0,.25);
    }
    .bannerBloque1{
        width:50%;
        height:100%;
    }
    .bannerBloque1 img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .bannerBloque2{
        width:50%;
        height:100%;
        padding:20px 10px 20px 20px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: rgba(0,0,0,.1);
        color: #ffffff;
        text-shadow:1px 2px 3px rgba(0,0,0,.2);
        text-align:center;
    }
    .bannerBloque2 .parrafo1,.bannerBloque2 .parrafo2,.bannerBloque2 .parrafo3,.bannerBloque2 .parrafo4,.bannerBloque2 .parrafo5{
        width: 100%;
        text-align: left;
    }
    .bannerBloque2 .parrafo1{
        font-size: 40px;
        font-weight: 500;
        margin: 0px 0px 5px 0px;
        line-height: 85%;
    }
    .bannerBloque2 .parrafo2{
        font-size: 30px;
        font-weight: 400;
        margin: 0;
        line-height: 110%;
    }
    .bannerBloque2 .parrafo2 b{
        margin-left: 10px;
    }
    .bannerBloque2 .parrafo3{
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 5px 0;
        line-height: 110%;
    }
    .bannerBloque2 .parrafo4{
        font-size: 45px;
        font-weight: 500;
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 110%;
    }
    .bannerBloque2 .parrafo4 small{
        font-size: 50%;
    }
    .bannerBloque2 .parrafo4 img{
        height: 34px;
        margin-left: 5px;
    }
    .bannerBloque2 .parrafo5{
        font-size: 35px;
        font-weight: 500;
        margin: 0 0 0 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 85%;
        letter-spacing: -1px;
        opacity: .65;
    }
    .bannerBloque2 .parrafo5 small{
        font-size: 17px;
    }
    .bannerBloque2 .parrafo5 i{
        font-size: 16px;
        font-weight: 600;
        line-height: 90%;
        font-style: normal;
        margin:0px 0px 0px 10px;
    }
    .botonVolver{
        width:110px;
        height:35px;
        position:absolute;
        top:15px;
        right:15px;
        z-index: 999;
        display:flex;
        justify-content:center;
        align-items:center;
        background:rgba(0,0,0,.15);
        color:#ffffff;
        text-transform:uppercase;
        border:1px solid #ffffff;
        border-radius:10px;
        box-shadow:0 3px 11px -3px rgba(0,0,0,.25);
    }
    .botonVolver .button-inner{
        width:110%;
        height:100%;
        margin-left:0px;
    }
    .botonVolver p{
        margin-left:10px;
    }
    .arrow1{
        width:10px;
        height:10px;
        background:transparent;
        border-left:2px solid #ffffff;
        border-bottom:2px solid #ffffff;
        box-shadow:0 0 0 lightgray;
        transform:rotate(-45deg);
        margin:-3px 0px 0px 0px;
    }
    .imagenApoyo{
        width:100%;
        height:400px;
        background: #ffffff;
        box-shadow: -15px 0px 35px -3px rgba(0,0,0,.15);
    }
    .imagenApoyo img{
        height:390px;
        margin-top:5px;
    }
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background: rgba(256,256,256,.9);
        border:2px solid #405C5A;
    }
    .cuerpoFicha{
        max-width: 800px;
        width:calc(100% - 80px);
        height: calc(100vh - 450px);
        margin:0px auto 30px;
        overflow-y:auto;
        border-radius:5px;
        border-top:2px solid #dddddd;
    }
    .itemFicha{
        width:100%;
        min-height:40px;
        display:flex;
        justify-content:flex-start;
        align-content:flex-start;
    }
    .itemFicha:nth-child(odd){
        background: #ffffff;
    }
    .itemFicha:nth-child(even){
        background: #eeeeee;
    }
    .bloque1ItemFicha{
        width:230px;
        min-height:40px;
        padding: 8px;
        font-size: 18px;
        font-weight:400;
        color: #333333;
    }
    .bloque2ItemFicha{
        width:calc(100% - 230px);
        min-height:40px;
        padding: 10px;
        font-size:16px;
        font-weight: 400;
        color: #333333;
    }
    .itemFicha:nth-child(odd) .bloque1ItemFicha{
        border-right:2px solid #eeeeee;
    }
    .itemFicha:nth-child(even) .bloque1ItemFicha{
        border-right:2px solid #ffffff;
    }
    @media(max-width:500px){
        .modal-wrapper {
            height:calc(100% - 40px -70px);
        }
        .swiper-pagination-bullet{
            width: 8px;
            height: 8px;
            background: rgba(256,256,256,.9);
            border:2px solid #405C5A;
        }
        .bannerBloque1{
            width: 100%;
        }
        .bannerBloque1 img{
            height: 100%;
            filter: blur(6px);
            opacity: .8;
        }
        .cuerpoFicha{
            width:calc(100% - 20px);
            margin:0px auto 30px;
            border-top:2px solid #dddddd;
        }
        .bloque1ItemFicha{
            width:50%;
        }
        .bloque2ItemFicha{
            width:50%;
        }
        .bannerBloque2{
            width: 100%;
            padding: 20px;
            background: rgba(0,0,0,.35);
        }
    }
}


