<!--
  Generated template for the CelularesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <img alt="logo" class="logotipo1" src="../../assets/img/sup_logo-tottus.png">
    <span class="titleBlock">&nbsp; Celulares</span>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="noData">
    <div class="alertActualizar">
        <div class="cajaAlertas">
            <strong>!</strong>
            <h1 *ngIf="appData.expired">Tienes que actualizar el data para mostrar el catálogo</h1>
            <h1 *ngIf="!appData.expired">No hay stock disponible para este categoría</h1>
        </div>
    </div>
  </ng-container>
      
      <ng-container *ngIf="!noData">
  
    <div *ngFor="let key of keys" class="cajaBoton1" (click)="openModal(key)">  
        <div class="imagenCajaBoton">
                <img src="{{appDataShow[key].picDownloadArray[0]}}">
            </div>
        <div class="cajaTextosCajaBoton">
          <p class="text1CajaBoton">{{appDataShow[key].Brand}}</p>
                <p class="text2CajaBoton">{{appDataShow[key].Name}}</p>
                <p *ngIf="appDataShow[key].CMRprice"class="text3CajaBoton"><small>$</small>{{appDataShow[key].CMRprice}}<img src="../assets/img/CMR-icon.svg"></p>
                <p class="text4CajaBoton"><small>$</small>{{appDataShow[key].activePrice}}<b>otro medio<br>de pago</b></p>
                <del *ngIf="appDataShow[key].strikeOutPrice"><p class="text4CajaBoton"><small>$</small> &nbsp;{{appDataShow[key].strikeOutPrice}}&nbsp; </p></del>
                <p class="text5CajaBoton">SKU {{appDataShow[key].sku}}</p>
                <p *ngIf="appDataShow[key].EAN" class="text5CajaBoton">EAN {{appDataShow[key].EAN}}</p>
        </div>
      </div>
  </ng-container>
</ion-content>



